.root {
    -fx-background-color: #4a4848;
}


.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #c3c1c1;
}

.text-field {
    -fx-background-color: #3a3a3a;;
    -fx-border-color: #121212;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #777777;
}

.button {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #9c9999;
    -fx-font-size: 16px;
}

.button:hover {
    -fx-background-color: #565656;
    -fx-cursor: hand;
}

.list-view {
    -fx-background-color: #2a2a2a;
    -fx-control-inner-background: #2a2a2a;
    -fx-border-radius: 5;
}

.list-cell:filled:selected {
    -fx-background-color: #8a8888;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #3a3a3a;
}

.table-view {
    -fx-background-color: #3a3a3a;
    -fx-control-inner-background: #3a3a3a;
    -fx-table-cell-border-color: #202020;
}

.table-view .column-header {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #202020;
}

.scroll-bar {
    -fx-background-color: #2b2b2b;
}

.scroll-bar .thumb {
    -fx-background-color: #616161;
}