.root {
    -fx-background-color: #4a4848;
}






.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #c3c1c1;
}






.text-field {
    -fx-background-color: #3a3a3a;;
    -fx-border-color: #121212;
    -fx-text-fill: #a6a4a4;
    -fx-prompt-text-fill: #a6a4a4;
    -fx-font-size: 16px;
}






.button {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #a6a4a4;
    -fx-font-size: 16px;
}
.button:hover {
    -fx-background-color: #565656;
    -fx-cursor: hand;
}






.list-view {
    -fx-background-color: #2a2a2a;
    -fx-control-inner-background: #2a2a2a;
    -fx-border-radius: 5;
}
.list-cell {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #444444;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
}
.list-cell:filled:selected {
    -fx-background-color: #5a5a5a;
}
.list-cell:hover {
    -fx-background-color: #444444;
}






.table-view {
    -fx-background-color: #3a3a3a;
    -fx-control-inner-background: #3a3a3a;
    -fx-table-cell-border-color: #202020;
}
.table-view .column-header {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #202020;
}

.table-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}





.scroll-bar {
    -fx-background-color: #2b2b2b;
}
.scroll-bar .thumb {
    -fx-background-color: #616161;
}






.tab-pane {
    -fx-tab-min-width: 90px;
    -fx-border-color: none;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 100;
    -fx-background-color: #2a2a2a;
}
.tab-pane .tab {
    -fx-background-color: #3a3a3a;
    -fx-background-radius: 6 6 0 0;
    -fx-cursor: hand;
}
.tab .tab-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}
.tab-pane .tab:hover {
    -fx-background-color: #4a4a4a;
}
.tab-pane .tab:selected {
    -fx-background-color: #5a5a5a;
    -fx-border-color: #777777;
    -fx-border-width: 0 0 3px 0;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}






.search {
    -fx-min-height: 37;
    -fx-max-height: 37;
    -fx-border-color: transparent;
}







.floor-area {
    -fx-fill: #303030;
    -fx-stroke: #575757;
    -fx-stroke-width: 2;
    -fx-arc-width: 8;
    -fx-arc-height: 8;
}

.floor-area:hover {
    -fx-fill: #4c4c4c;
    -fx-cursor: hand;
    -fx-stroke: #ffffff66;
}

.aisle {
    -fx-fill: #454545;
    -fx-stroke: #717171;
    -fx-stroke-width: 2;
    -fx-arc-width: 8;
    -fx-arc-height: 8;
}

.aisle:hover {
    -fx-fill: #686767;
    -fx-cursor: hand;
    -fx-stroke: #ffffff66;
}

.shelf {
    -fx-fill: #8c8c8c;
    -fx-stroke: #717171;
    -fx-stroke-width: 2;
    -fx-arc-width: 8;
    -fx-arc-height: 8;
}

.shelf:hover {
    -fx-fill: #9e9e9e;
    -fx-cursor: hand;
    -fx-stroke: #ffffff66;
}